nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1A120B;
  padding: 1px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}


.content-container {
  margin-top: 60px; /* Adjust the margin-top value based on your navbar height */
  padding: 20px;
}

nav a {
  text-decoration: none;
  color: #F4EEE0;
  font-weight: bold;
  font-size: 1.3rem;
  padding: 9.9px;
}

nav a:hover {
  color: #D5CEA3;
}

nav .active {
  color: #555;
}

nav .content {
  display: flex;
  align-items: center;
  margin-left: 45rem;
  font-family: 'Chivo Mono', monospace;
font-family: 'Comic Neue', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Ubuntu', sans-serif;
}

nav .content > * {
  margin-left: 70px; /* Adjust the margin value to add the desired space */
}
